@font-face {
    font-family: MouseMemoirs-Regular;
    src: url(assets/MouseMemoirs-Regular.ttf);
}

.font-large {
    font-size: large;
}

.font-xlarge {
    font-size: x-large;
}

.font-medium {
    font-size: medium;
}

.text-centered {
    text-align:center;
}