@import 'util.css';
@import 'flex.css';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Righteous, "Luckiest Guy", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.joystick {
    position: absolute;
    bottom: 200px;
    right: 200px;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.white-text {
    color: white;
}

.position-absolute {
    position: absolute;
}

.position-top {
    top: 0;
    left: 0;
}

.modal-container {
    z-index: 100;
    background-color: white;
}

#excalibur-play-root {
    width:100%;
}